{% extends 'base.html' %}
{% block title %}About | TableFlow{% endblock %}
{% block content %}
<section class="card">
  <p class="eyebrow">Project</p>
  <h1>About this site</h1>
  <p>Since our opening in (founding year), we’ve been working to make sure that every guest is taken care of. Finding time to enjoy life can be hard, so we serve you to make sure the time you make at (Resturant) is well spent. If you’re wanting a reason not to cook, cheering on your favorite sports team, or just looking for a quick meal with friends and family – (Resturant) has what you need.</p>
  <ul class="simple-list">
    <li>Address: 0000 Wall St, City, State, Zip Code</li>
    <li>Phone: 000 000 0000</li>
    <li>Social Media: </li>
  </ul>
</section>
{% endblock %}
